.dropdown-container {
  position: relative;
  display: none;

  @include breakpoint(xl) {
    display: block;
  }
}

select {
  padding: 10px 38px 10px 10px;
  width: 145px;
  font-size: 1.8rem;
  border-radius: $radius-btn-img;
  background-color: $color-primary;
  color: white;
  cursor: pointer;
  appearance: none;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  /* Adding transition effect */
  transition: color 0.3s ease, background-color 0.3s ease, border-bottom-color 0.3s ease;
}
/* For IE <= 11 */
select::-ms-expand {
  display: none; 
}
select:hover {
  color: $color-text-primary;
  background-color: $color-tertiary;
}

.select-icon {
  position: absolute;
  top: 21px;
  left: 240px;
  color: white;
  transition: background-color 0.3s ease, border-color 0.3s ease;

  @include breakpoint(xxl) {
    left: 317px;
  }
}
