.tags-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
}

.tag {
  display: flex;
  position: relative;
  z-index: 1;
  margin: 3px 6px 3px 0;
  padding: 2px 7px;
  color: $color-primary;
  background-color: $color-body;
  border: .5px solid $color-border-tag;
  border-radius: 12px;
  font-size: 1.6rem;

  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    border: .5px solid transparent;
    border-radius: 12px;
    background-color: $color-primary;
    transition: all 0.1s ease-in;
  }

  &:hover {
    color: $color-body;

    &::after {
      opacity: 1;
    }
  }

  &:focus {
    color: $color-body;

    &::after {
      opacity: 1;
    }
  }

  &--active {
    color: $color-body;
    background-color: $color-primary;

    &::after {
      opacity: 1;
    }
  }
}