.tags-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
}

.tag {
  display: flex;
  position: relative;
  z-index: 1;
  margin: 3px 6px 3px 0;
  padding: 4px 9px;
  color: $color-primary;
  background-color: $color-body;
  border: .5px solid $color-border-tag;
  border-radius: 12px;
  font-size: 1.6rem;

  &:hover {
    color: $color-text-primary;
    background-color: $color-tertiary;
  }

  &:focus {
    color: none;
    background-color: none;
  }

  &:focus-visible {
    color: $color-text-primary;
    background-color: $color-tertiary;
  }

  &--active {
    color: $color-body;
    background-color: $color-primary;
  }
}

.profil-photographer-header .tag {
  cursor: default;

  &:hover {
    color: $color-primary;
    background-color: $color-body;
  }
}