// Color variables

$color-primary: hsl(0, 67%, 34%);
$color-secondary: hsl(11, 63%, 53%);
$color-tertiary: hsl(11, 58%, 66%);
$color-text-secondary: hsl(0, 0%, 32%);
$color-text-tertiary: hsl(0, 0%, 46%);
$color-border-tag: hsl(0, 0%, 77%);
$back-color-header-profil: hsl(0, 0%, 98%);
$color-body: hsl(0, 0%, 100%);
$color-text-primary: hsl(0, 0%, 0%);
$color-text-secondary: hsl(0, 3%, 19%);
$color-back-modal: rgba(0, 0, 0, 0.450);
$radius-tag: 1.2rem;
$radius-btn-img: .5rem;