// Color variables

$color-primary: hsl(0, 67%, 34%);
$color-secondary: hsl(11, 58%, 66%);
$color-text-primary: hsl(0, 0%, 0%);
$color-text-secondary: hsl(0, 0%, 32%);
$color-text-tertiary: hsl(0, 0%, 46%);
$color-body: hsl(0, 0%, 100%);
$radius: 5px;