// lightbox dialog overlay
.lightbox-dialog {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background-color: $color-back-modal;
  transition: all .3s ease-in-out;
}

// dialog box
.lightbox-modal-content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 1.5rem;
  width: 100%;
  background-color: $color-body;
  border-radius: .2rem;

  .btn-close {
    position: absolute;
    right: 15px;
    top: 15px;
  }

  .btn-next,
  .btn-prev,
  .btn-close {
    width: 25px;
    height: 25px;
    background-color: transparent;
    border: 0;
    color: $color-primary;

    @include breakpoint(lg) {
      width: 30px;
      height: 30px;
    }

    @include breakpoint(xl) {
      width: 35px;
      height: 35px;
      font-size: 2.5rem;
    }
  }
}

// hidden dialog
.lightbox-dialog[aria-hidden="true"] {
  visibility: hidden;
  opacity: 0;
  transition: all .3s ease-in-out;
}

.lightbox-dialog.fade-out {
  opacity: 0;
}

.media-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  width: 100%;

  @include breakpoint(xl) {
    max-width: 80%;
  }

  @include breakpoint(xxl) {
    max-width: 65%;
  }

  img,
  video {
    max-height: 95vh;
  }
}

.media-loading {
  width: 38px;
  height: 38px;
  opacity: .5;
  background: url(../assets/icons/loader.svg) center center no-repeat;
}
