.home-header {
  margin: 0 auto;
  padding: 40px 20px 0 20px;
  max-width: 1440px;

  @media (min-width: 1141px) {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "logo nav nav nav nav . ";
    padding: 40px 20px;
  }

  @media (min-width: 1324px) {
    grid-template-columns: repeat(7, 1fr);
    grid-template-areas: "logo nav nav nav nav . . ";
  }

  img {
    grid-area: logo;
    width: 150px;
    height: auto;
  }

  nav {
    grid-area: nav;
    margin-top: 35px;

    @media (min-width: 1141px) {
      margin-top: 6px;
    }
  }

  .skip-link {
    display: block;
    position: absolute;
    text-align: center;
    transform: translate(-50%, -500%);
    left: 50%;
    padding: 7px;
    width: 17rem;
    font-size: 1.8rem;
    font-weight: 700;
    border-radius: $radius-btn-img;
    color: $color-text-primary;
    background-color: $color-tertiary;
    transition: transform 0.3s ease-in-out;

    &:focus {
      transform: translate(-50%, -110%);
      transition: transform 0.3s;
    }
  }
}

.home-main {
  position: relative;
  margin: 0 auto;
  max-width: 1600px;
  padding: 20px;

  h1 {
    position: absolute;
    top: -169px;
    right: 20px;
    font-size: 14px;
    color: $color-primary;

    @media (min-width: 369.9px) {
      top: -169px;
    }

    @media (min-width: 445px) {
      top: -141px;
    }

    @media (min-width: 773px) {
      top: -113.5px;
    }

    @media (min-width: 1141px) {
      top: -93.5px;
    }
  
    @media (min-width: 1324px) {
      top: -109px;
      font-size: 36px;
    }
  }
}

.photographers-list {
  text-align: center;

  @include breakpoint(md) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }

  @include breakpoint(xl) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.photographer {
  text-align: center;
  padding: 30px 15px;

  img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }

  h2 {
    margin: 20px 0 5px 0;
    font-size: 3.6rem;
    color: $color-secondary;
  }

  p {
    margin: 0;
  }

  .photographer__location {
    font-size: 1.6rem;
    color: $color-primary;
  }

  .photographer__tagline {
    font-size: 1.2rem;
    color: $color-text-primary;
  }

  .photographer__price {
    font-size: 1.15rem;
    color: $color-text-tertiary;
  }
}
